NODE_ENV=development
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
DATABASE_URL="file:./dev.db"

GITHUB_TOKEN=
GITHUB_MODEL=openai/gpt-4.1
GITHUB_MODELS_ENDPOINT=https://models.github.ai/inference

ADMIN_TELEGRAM_ID=
LOG_LEVEL=info
